[*.cs]

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = silent

# CA1819: Properties should not return arrays
dotnet_diagnostic.CA1819.severity = suggestion

# CA2227: Collection properties should be read only
dotnet_diagnostic.CA2227.severity = none
